<template>
  <div>
    <el-form :model="ruleForm" :rules="rules" ref="ruleForm">
      <el-form-item prop="phone">
        <el-input placeholder="请输入手机号码" v-model="ruleForm.phone">
          <i slot="prefix" class="el-icon-phone"></i>
        </el-input>
      </el-form-item>

      <el-form-item prop="code">
        <!-- :getter 间隙 -->
        <el-row :gutter="18">
          <el-col :span="17">
            <el-input placeholder="请输入验证码" v-model="ruleForm.code">
              <i slot="prefix" class="el-icon-tickets"></i>
            </el-input>
          </el-col>
          <el-col :span="7">
            <el-button
              @click="sendCode"
              :disabled="disabled"
              type="primary"
              style="width: 100%"
            >{{btnText}}</el-button>
          </el-col>
        </el-row>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" style="width: 100%" @click="phoneLogin">登录</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
export default {
  name: "PhoneLogin",
  components: {},
  // 接收的参数
  props: {
    // 表单对象
    ruleForm: {
      type: Object,
      required: true,
    },
    // 倒计时对象
    countDown: {
      type: Number,
      default: 60,
    },
  },
  data() {
    // 自定义验证规则 (验证规则 , 值 ,回调)
    let checkPhone = (rule, value, callback) => {
      if (!value) {
        return callback(new Error("手机号不能为空"));
      } else {
        let reg = /^1[3|4|5|6|7|8|9][0-9]\d{8}$/;
        if (reg.test(value)) {
          callback();
        } else {
          return callback(new Error("手机号码不正确"));
        }
      }
    };
    return {
      // 验证规则
      rules: {
        // 自定义规则  实时验证
        phone: [{ validator: checkPhone, trigger: "change" }],
        // 必填 错误提示 失去焦点之后
        code: [{ required: true, message: "验证码不能是空", trigger: "blur" }],
      },
      // 发送验证码是否禁用
      disabled: false,
      // 按钮文字
      btnText: "发送验证码",
      time: 0,
    };
  },
  methods: {
    sendCode() {
      // 手机号必须输入正确,如果输入不正确 就提示
      // 获取表单实例并验证
      this.$refs.ruleForm.validateField("phone", (errorMessage) => {
        // console.log(errorMessage);
        if (errorMessage) {
          // 是否符合验证规则
          this.$message.error(errorMessage);
        } else {
          // 定时器
          let timer = setInterval(() => {
            this.time--; // 时间倒数
            this.btnText = `${this.time} s 后重新发送`;
            this.disabled = true; // 按钮禁用
            if (this.time === 0) {
              // 倒计时为 0 时
              this.disabled = false; // 恢复可点击
              this.btnText = "重新发送";
              this.time = this.countDown; // 恢复默认计时时间
              // 退出 定时器
              clearInterval(timer);
            }
          }, 1000);
          // 分发事件给外部组件
          this.$emit("send");
        }
      });
    },
    phoneLogin() {
      // 登录方法
      this.$refs.ruleForm.validate((valid) => {
        if (valid) {
          // 分发事件
          this.$emit("submit")
        } else {
          // 分发事件
          this.$emit("reeHandle")
        }
      });
    },
  },
  mounted() {
    this.time = this.countDown;
  },
};
</script>

<style>
</style>