<template>
  <div>
    <!-- 绑定 model ,绑定验证规则 rules prop ,ref 与 model 一致-->
    <el-form :model="ruleForm" :rules="rules" ref="ruleForm">
      <el-form-item prop="username">
        <!-- 绑定数据 -->
        <el-input placeholder="请输入用户名" v-model="ruleForm.username">
          <i slot="prefix" class="el-icon-user"></i>
        </el-input>
      </el-form-item>
      <el-form-item prop="password">
        <!-- 绑定数据 -->
        <el-input placeholder="请输入密码" show-password v-model="ruleForm.password">
          <i slot="prefix" class="el-icon-lock"></i>
        </el-input>
      </el-form-item>
      <el-form-item>
        <el-button @click="login" type="primary" style="width: 100%">登录</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
export default {
  name: "AccountLogin",
  components: {},
  // 接收的参数
  props: {
    ruleForm: {
      type: Object, // 类型:对象
      required: true, // 是否必填: 是
    },
    rules: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {};
  },
  methods: {
    login() {
      //   对整个表单做验证
      this.$refs.ruleForm.validate((valid) => {
        // 真 -> 验证通过
        if (valid) {
          // 分发事件
          this.$emit("submit");
        } else {
          // 分发事件
          this.$emit("errHandle");
        }
      });
    },
  },
};
</script>

<style>
</style>