 <!-- 
 回到顶部 [配置全局]  
 1,页面的内容必须超过屏幕的高度  
 2,最外层必须要有个容器,容器必须是撑满整个屏幕的 
 3,使用 slot插槽 到达全局特性 ,slot插槽 接收所有页面 [App.vue 中传过来]
 -->
<template>
  <div class="pages-content-scroll">
    <el-backtop target=".pages-content-scroll"></el-backtop>
    <!-- 插槽 -->
    <slot></slot>
  </div>
</template>

<script>
export default {};
</script>

<style>
.pages-content-scroll {
  /* 必须撑满整个屏幕 */
  position: absolute; /*绝对定位 */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: hidden; /*水平隐藏 */
}
</style>