<template>
  <div>
    <el-button type="primary" @click="goTo('/backTopOne')">去页面1</el-button>
    <el-button type="primary" @click="goTo('/backTopTwo')">去页面2</el-button>
    <el-button type="primary" @click="goTo('/login')">去登录</el-button>
  </div>
</template>

<script>
export default {
  name: "Home",
  // 注册组件
  components: {},
  //方法
  methods:{
    goTo(path){
      // 路由跳转
      this.$router.push(path)
    }
  }
};
</script>
