<template>
  <div class="login">
    <h1>普通登录</h1>
    <div class="account">
      <!-- 页面传值 -->
      <account-login :rule-form="ruleForm" :rules="rules" @submit="submit" @errHandle="errHandle"></account-login>
    </div>

    <h1>手机验证码登录</h1>
    <div class="phone">
      <phone-login  :rule-form="phoneForm" @send="send" @submit="submit" @errHandle="errHandle"></phone-login>
    </div>
  </div>
</template>

<script>
export default {
  name: "Login",
  components: {},
  props: {},
  data() {
    return {
      // 表单对象
      ruleForm: {
        username: "",
        passwoed: "",
      },
      phoneForm:{
        // 手机号
        phone:'',
        // 验证码
        code:''
      },
      // 验证规则
      rules: {
        username: [
          {
            // 是否必填,错误提示,触发的方式[失去焦点]
            required: true,
            message: "用户名不能为空",
            trigger: "blur",
          },
          {
            // 最小的长度, 最大的长度,错误提示,触发的方式[失去焦点]
            min: 2,
            max: 6,
            message: "用户名在 2 - 6 位之间",
            trigger: "blur",
          },
        ],
        password: [
          {
            // 是否必填,错误提示,触发的方式[失去焦点]
            required: true,
            message: "密码不能为空",
            trigger: "blur",
          },
          {
            // 最小的长度, 最大的长度,错误提示,触发的方式[失去焦点]
            min: 6,
            max: 15,
            message: "密码在 6 - 15 位之间",
            trigger: "blur",
          },
        ],
      },
    };
  },
  methods: {
    submit() {
      // 提示验证成功
      this.$message.success("提交成功");
    },
    errHandle() {
      this.$message.error("表单有误,请确认");
    },
    send(){
      this.$message.info("发送验证码成功");
    }
  },
};
</script>

<style>
.login {
  margin-top: 30px;
  margin-left: 30px;
}
.account,.phone {
  width: 500px;
}
</style>